<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Baseball Gear Reviewer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
    <header class="site-header">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Baseball Gear Reviewer</a>
                <ul class="right">
                    <li>
                        <a href="/song/new">Login??</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {{{ body }}}
    </main>
</body>

</html>