<body style="background-color:tan">


    <H1>Gloves</H1>

    {{#if gloves}}
    <ul>
        {{#each gloves}} {{ "glove"}}
        <H4>
            <a href="/glove/{{id}}">
                <br /> Glove: {{ make }} {{ model }}
            </a>
        </H4>
        {{/each}}
    </ul>
    {{/if}}

</body>