<p class="card">
    {{> 'glove'}}
</p>

{{#if reviews.length}} {{#each reviews}}
<div class="card">
    <div class="card-content">
        <span class="card-title">
            {{content}}
        </span>
    </div>
    <div class="card-action">

    </div>
</div>
{{/each}} {{/if}}

<div class="card">
    <div class="card-content">
        <h4 class="card-title">Add a review for the {{make}} {{model}}:</h4>
        <form method="POST" action="/glove/{{id}}?_method=PUT" class="row">
            <div class="row">
                <div class="input-field inline col s12">
                    <label for="content"></label>
                    <input type="text" name="content" id="" Placeholder="Review:">
                </div>
            </div>
            <p class="input-field inline col s2">
                <input class="btn" type="submit" value="Submit">
            </p>
        </form>
    </div>
</div>