{{!--
<a href="bat/">
    <img alt="Gloves" src="https://www.rawlings.com/on/demandware.static/-/Sites-rawlings-catalog/default/dw06fe5287/images/megamenu/hypershell glove.jpg"
        title="">
</a> --}}

<ul>
    <li>
        <a href="/bat">Bats</a>
    </li>
    <li>
        <a href="/glove">Gloves</a>
    </li>
    <li>
        <a href="/ball">Balls</a>
    </li>
    <li>
        <a href="/helmet">Helmets</a>
    </li>
</ul>