<html>

<body background="grass.jpg"></body>

<div class=" row ">
    <div class="col s6 ">
        <div class="col s12 m7 ">
            <div class="card ">
                <a href="bat/all ">
                    <div class="card-image ">
                        <img src="bats.jpeg ">
                    </div>
                </a>
                <div class="card-action ">
                    <a href="bat/all ">Bats</a>
                </div>
            </div>
        </div>
    </div>
    {{!-- </div> --}} {{!--
<div class="row "> --}}
    <div class="col s6 ">
        <div class="col s12 m7 ">
            <div class="card ">
                <a href="glove/all ">
                    <div class="card-image ">

                        <img src="gloves.gif "> {{!--
                        <span class="card-title ">Card Title</span> --}}
                    </div>
                    {{!--
                    <div class="card-content ">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively.</p>
                    </div> --}}
                </a>

                <div class="card-action ">
                    <a href="glove/all ">Gloves</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col s6 ">
        <div class="col s12 m7 ">
            <div class="card ">
                <a href="ball/all ">
                    <div class="card-image ">

                        <img src="balls.jpeg "> {{!--
                        <span class="card-title ">Card Title</span> --}}
                    </div>
                    {{!--
                    <div class="card-content ">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively.</p>
                    </div> --}}
                </a>

                <div class="card-action ">
                    <a href="ball/all ">Balls</a>
                </div>
            </div>
        </div>
    </div>
    {{!-- </div> --}} {{!--
<div class="row "> --}}
    <div class="col s6 ">
        <div class="col s12 m7 ">
            <div class="card ">
                <a href="helmet/all ">
                    <div class="card-image ">

                        <img src="helmets.png "> {{!--
                        <span class="card-title ">Card Title</span> --}}
                    </div>
                    {{!--
                    <div class="card-content ">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively.</p>
                    </div> --}}
                </a>

                <div class="card-action ">
                    <a href="helmet/all ">Helmets</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>